.container {
  box-shadow: none;
  background-color: black;

  .navContainer {
    width: 80%;
    margin: 0 auto;
    .navItem {
      color: white;

      &:hover {
        text-decoration: underline;
        text-decoration-color: white;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;
      }
    }
  }
}

.icon {
  width: 80px;
  height: 80px;
}
