.headerContainer {
  width: 100%;
  padding: 30px 24px;
  margin: 0 12px;
  background-color: #f9eac2;
}

.productContainer {
  .itemContainer {
    width: 100%;
    transition: 0.2s all;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      transform: scale(1.1);
    }

    .image {
      width: 100%;
      aspect-ratio: 1;
    }
  }
}

@media (max-width: 700px) {
  .headerContainer {
    padding: 12px 8px;
    margin-top: 48px;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .headerContainer {
    width: 100%;
    padding: 16px 8px;
    margin-top: 60px;
    background-color: #f9eac2;
  }

  .image {
    width: 350px;
    height: 350px;
  }
}
